<div class="ui-g-12 ui-fluid">
    <p-toolbar>
        <div class="ui-toolbar-group-right">
            <p-button style="float:right" label="Novo" (click)="abrirModalCadastro(true)" icon="fa fa-plus"></p-button>
            <i class="fa fa-bars ui-toolbar-separator"></i>
        </div>
        <div class="ui-toolbar-group-right">
            <p-button style="float:right" label="Consultar" (click)="abrirModalFiltro()" icon="fa fa-search" ></p-button>
        </div>
    </p-toolbar>
</div>

<div class="ui-g-12">
    <p-table [value]="registros" [resizableColumns]="true" [responsive]="true" [paginator]="true" [rows]="10"
        [scrollable]="true" selectionMode="single">
        <ng-template pTemplate="caption">
            <div class="ui-helper-clearfix" style="text-align: left">
               Diarios
                <label style="float:right">{{registros.length}}</label>
            </div>
        </ng-template>
        <ng-template pTemplate="header">

            <tr>
                <th style="text-align: left" [pSortableColumn]="'codigo'">Código<p-sortIcon [field]="'codigo'">
                    </p-sortIcon>
                </th>

                <th style="text-align: left" [pSortableColumn]="'professor.nome'">Professor<p-sortIcon [field]="'professor.nome'">
                    </p-sortIcon>
                </th>
                <th style="text-align: left" [pSortableColumn]="'disciplina.nome'">Disciplina<p-sortIcon [field]="'disciplina.nome'">
                    </p-sortIcon>
                </th>

                <th style="text-align: left" [pSortableColumn]="'ano'">Ano<p-sortIcon [field]="'ano'">
                    </p-sortIcon>
                </th>
                <th style="text-align: left" [pSortableColumn]="'turma.nome'">Turma<p-sortIcon
                    [field]="'turma.nome'"></p-sortIcon>
                 </th>


                <th style="width:10%">Ações</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-registro>
            <tr>
                <td>{{registro.codigo}}</td>
                <td>{{registro.professor.nome}}</td>
                <td>{{registro.disciplina.nome}}</td>
                <td>{{registro.ano}}</td>
                <td >{{registro.turma.nome}}</td>


                <td style="width:10%">
                    <div>
                        <button class="ui-button-success" style="width:25px; height:25px" pButton title="Editar item"
                            icon="fa fa-edit" (click)="detalhar(registro)"></button>
                        &nbsp;
                        <button class="ui-button-danger" style="width:25px; height:25px" pButton title="Remover item"
                            icon="fa fa-remove" (click)="remover(registro)"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog header="Filtros" modal="true" [(visible)]="mostrarModalFiltro" [responsive]="true"
    [contentStyle]="{'max-height':'50%', height:'100px' ,width: '600px' }" [resizable]="true" [maximizable]="true">

    <div class="ui-g ui-fluid">
        <div class="ui-g-12 form-group">
            <div class="ui-g-12 ui-md-1 ui-lg-4">
                <input #txtCodigo type="text" pInputText placeholder="Código" [(ngModel)]="filtros.codigo">
            </div>
            <div class="ui-g-12 ui-md-4 ui-lg-8">
                <input type="text" pInputText placeholder="Nome" [(ngModel)]="filtros.nome">
            </div>
        </div>
    </div>
    <p-footer>
        <button pButton type="button" class="ui-button-success" (click)="aplicarFiltros()" icon="fa fa-check"
            label="Aplicar"></button>
    </p-footer>
</p-dialog>
<p-dialog appendTo="body" header="Alunos" modal="false" [(visible)]="mostrarModalCadastro" [responsive]="true"
[contentStyle]="{'max-height':'200%', height:'250px', width:'600px' }" [resizable]="true" [maximizable]="false">

    <div class="ui-g ui-fluid">
        <div class="ui-g-12 form-group">
            <div class="ui-g-12 ui-md-4 ui-lg-6">
                <label>Turma</label>
                <input type="text" pInputText  [(ngModel)]="registro.turma.nome"
                    [disabled]="true" *ngIf="registro.codigo != null">
                <p-listbox    #cboTurmas   optionLabel="nome" [options]="turmasOptions"
                    [(ngModel)]="registro.turma" *ngIf="registro.codigo == null" ></p-listbox>
            </div>

            <div class="ui-g-12 ui-md-4 ui-lg-6">
                <label>Professor</label>
                <input type="text" pInputText  [(ngModel)]="registro.professor.nome"
                    [disabled]="true" *ngIf="registro.codigo != null">
                <p-listbox    #cboProfessores   optionLabel="nome" [options]="professoesOptions"
                    [(ngModel)]="registro.professor" *ngIf="registro.codigo == null" ></p-listbox>
            </div>

            <div class="ui-g-12 ui-md-4 ui-lg-6">
                <label>Disciplina</label>
                <input type="text" pInputText  [(ngModel)]="registro.Discplina.nome"
                    [disabled]="true" *ngIf="registro.codigo != null">
                <p-listbox    #cboDisciplinas  optionLabel="nome" [options]="disciplinasOptions"
                    [(ngModel)]="registro.disciplina" *ngIf="registro.codigo == null" ></p-listbox>
            </div>


            <div class="ui-g-12 ui-md-4 ui-lg-6">
                <label>Ano</label>
                <input type="text" pInputText [(ngModel)]="registro.ano">
            </div>
        </div>

    </div>
    <p-footer>
        <button pButton type="button" class="ui-button-success" (click)="salvar()" icon="fa fa-save"
            label="Salvar"></button>
        <button type="button" pButton icon="fa fa-copy" (click)="limpar()" label="Limpar"></button>
    </p-footer>


</p-dialog>
<!-- <p-tabView>

    <p-tabPanel header="Turma">
        <div class="ui-g ui-fluid">
            <div class="ui-g-12 form-group">

                <div class="ui-g-12 ui-md-4 ui-lg-2">
                    <label>Serie</label>
                    <input type="text" pInputText [(ngModel)]="turma.serie">
                </div>
                <div class="ui-g-12 ui-md-4 ui-lg-6">
                    <label>Turno</label>
                    <input type="text" pInputText [(ngModel)]="turma.turno">
                </div>
                <div class="ui-g-12 ui-md-4 ui-lg-2">
                    <label>Ensino</label>
                    <input type="text" pInputText [(ngModel)]="turma.ensino">
                </div>


            </div>
        </div>
    </p-tabPanel>

</p-tabView>
-->


