<div class="ui-g login-body">
    <div class="ui-g-12 ui-lg-6 ui-md-12">
        <div class="ui-g login-panel  ui-fluid">
            <div class="ui-g">
                <p-card>
                    <p-header>
                        <img style="height:150px" class="Card" src=".././assets/layout/images/acesso-img.png"
                            alt="california-layout" />
                    </p-header>
                    <div class="ui-g-12 ui-lg-12 ui-md-12 logo-container">
                        <span class="login-summary">Acesso</span>
                        <div class="login-detail">
                            <span>Bem-vindo, por favor use o formulário para entrar</span>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-lg-12 ui-md-12">
                        <div class="input-wrapper">
                            <label>Usuário</label>
                            <input type="text" autocomplete="off" class="ui-inputtext ui-widget"
                                [(ngModel)]="usuario.login">
                        </div>
                    </div>
                    <div class="ui-g-12 ui-lg-12 ui-md-12">
                        <div class="input-wrapper">
                            <label>Senha</label>
                            <input type="password" (keyup)="onKey($event)" autocomplete="off"
                                class="ui-inputtext ui-widget" [(ngModel)]="usuario.senha">
                        </div>
                    </div>
                    <p-footer>
                        <p-button label="Login" (click)="login()"></p-button>
                    </p-footer>
                    <div class="ui-g-12 ui-lg-12 ui-md-12">
                        <ng-container *ngIf="recaptcha.render">
                            <p-captcha siteKey="6Lct9pEUAAAAAGzHTk3-GM2g36mooRAcyH4ecDyw"
                                (onResponse)="showResponse($event)"></p-captcha>
                        </ng-container>
                    </div>

                </p-card>
            </div>
        </div>
    </div>
</div>