<div class="ui-fluid">

            <div class="card no-margin">
                <h1>Cadastro de Fornecedor</h1>
                <div class="ui-g form-group">
                    <div class="ui-g-12 ui-md-6">
                        <div class="ui-g-12 ui-md-4">
                            <label for="input">Código</label>
                        </div>
                        <div class="ui-g-12 ui-md-8">
                            <input id="input" type="text" pInputText/>
                        </div>

                        <div class="ui-g-12 ui-md-4">
                            <label for="textarea">Nome</label>
                        </div>
                        <div class="ui-g-12 ui-md-8">
                            <input id="input" type="text" pInputText/>
                        </div>

                        <div class="ui-g-12 ui-md-4">
                            <label for="calendar">CNPJ</label>
                        </div>
                        <div class="ui-g-12 ui-md-8">
                            <input id="input" type="text" pInputText/>
                        </div>

                        <div class="ui-g-12 ui-md-4">
                            <label for="autocomplete">InscEstadual</label>
                        </div>
                        <div class="ui-g-12 ui-md-8">
                            <input id="input" type="text" pInputText/>
                        </div>

                        <div class="ui-g-12 ui-md-4">
                            <label for="dropdown">Telefone</label>
                        </div>
                        <div class="ui-g-12 ui-md-8">
                            <p-inputMask [(ngModel)]="val" mask="(99)99999-9999"></p-inputMask>
                        </div>



                        <div class="ui-g-12 ui-md-4">
                            Endereço
                        </div>
                        <div class="ui-g-12 ui-md-8">
                            <input id="input" type="text" pInputText/>
                        </div>

                        <div class="ui-g-12 ui-md-4">
                            Cidade
                        </div>
                        <div class="ui-g-12 ui-md-8">
                            <input id="input" type="text" pInputText/>
                        </div>

                        <div class="ui-g-12 ui-md-4">
                            <label for="multiselect">UF</label>
                        </div>
                        <div class="ui-g-12 ui-md-8">
                            <input id="input" type="text" pInputText/>
                        </div>

                        <div class="ui-g-12 ui-md-4">

                        </div>
                        <div class="ui-g-12 ui-md-8" style="padding-top:1em">
                            <p-button label="Adicionar"></p-button>
                            <p-button label="buscar" routerLink="/fornecedor/buscar"></p-button>
                        </div>

                    </div>






            </div>




        </div>
 </div>
